<div ng-show="currentUser == null" class="container">
  <div class="jumbotron">
    <h1>Stocklist</h1>
    <p class="lead" >Always forgetting to buy stuff once you run out? Stocklist will help you 
    manage your shopping list like a store's inventory.</p><p> Keep track of what you 
    should have in your house instead or trying to figure out what you need at the 
    last minute</p>
    <a href="#/signup" class="btn btn-large btn-success">Sign Up</a>
  </div>
</div>

<div ng-show="currentUser != null">
  <ul class="breadcrumb">
    <li>Home</li>
  </ul>
  <div class="container">
  <p>Welcome back, see below for updates and to change your settings</p>
  <h3>My Profile</h3>
  <img ng-src="{{currentUser.gravatar_url}}" alt='AVATAR' />
  <div class="row">
    <div class="span6">
      <table class="table">
        <tr><td>Name</td><td>{{currentUser.name}}</td></tr>
        <tr><td>E-Mail</td><td>{{currentUser.email}}</td></tr>
        <tr><td>Member Since</td><td>{{currentUser.created_at}}</td></tr>
      </table>
    </div>
  </div>
  <h3>My Stocklists</h3>
  <table class="table">
    <tr ng-repeat="stocklist in stocklists">
      <td><a href="#/stocklist/{{stocklist.id}}">{{stocklist.name}}</a>
    </tr>
  </table>
  </div>
</div>
