<div ng-show="currentUser == null" class="container">
  <div class="jumbotron">
    <h1>Stocklist</h1>
    <p class="lead" >Always forgetting to buy stuff once you run out? Stocklist will help you 
    manager your household shopping list like a store's inventory. Keep track of what you 
    should have in your house instead or trying to figure out what you need at the 
    last minute</p>
    <a href="<%= url_for(:action => 'index', :anchor => '/signup') %>" class="btn btn-large btn-success">Sign Up</a>
  </div>
</div>

<div ng-show="currentUser != null">
  <ul class="breadcrumb">
    <li>Home</li>
  </ul>
  <ul>
    <li ng-repeat="stocklist in stocklists">
      <a href="#/stocklist/{{stocklist.id}}">{{stocklist.name}}</a>
    </li>
  </ul>
</div>
