<ul class="breadcrumb">
  <li><a href="#/home">Home</a> <span class="divider">/</span></li>
  <li class="active">{{stocklist.name}} Inventory</li>
</ul>

<p>Your {{stocklist.name}} Inventory</p>

<ul class="inline">
<li ng-show="!outOfStockOnly"><i class="icon-search"></i><a href ng-click="outOfStockOnly=true"> Show out of stock items only</a>
<li ng-show="outOfStockOnly"><i class="icon-search"></i><a href ng-click="outOfStockOnly=false"> Show all items</a>
<li><i class="icon-edit"></i><a href="#/stocklist/{{stocklist.id}}/manage"> Add/Remove {{stocklist.name}} Items</a>
</ul>

<table class="table table-striped" >
  <tr>
    <th class="category">Cat.</th>
    <th class="status">Stock?</th>
    <th>Item</th>
  </tr>

<!-- Tango Icons

  FOOD - Food Stuff      Tomato, Style_Mushroom
  KGDS - Kitchen Goods   Application tirretto
  LGDS - Living Goods    icon_nature
  BGDS - Bathroom Goods
 -->

  <tr ng-repeat="stock in stocklist.product_stocks | filter:filterInStock " ng-class="{error: !stockStatus[stock.id] && !outOfStockOnly}" >
    <td><sl-category name="stock.product.category" ></td>
    <td><input type="checkbox" 
               ng-click="updateStock(stock)" 
               ng-model="stockStatus[stock.id]"> </td>
    <td>{{stock.product.name}} <span 
               class="pull-right label label-important" 
               ng-show="!stockStatus[stock.id] && !outOfStockOnly">Out of Stock</span></td>   
  </tr>
</table>

